.home{ 
  background: url(../pics/IMG_1739.JPG) no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login{
    background: rgb(11,49,143);
}

/***************Fonts***************/
@font-face{
    font-family: 'Rubik';
    src: url('../font/rubik.otf');
}

@font-face{
    font-family: 'MontserratSB';
    src: url('../font/Montserrat-SemiBold.otf');
}

@font-face{
    font-family: 'MontserratL';
    src: url('../font/Montserrat-Light.otf');
}

@font-face{
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.otf');
}

.montserrat-SB{
    font-family: 'MontserratSB'!important;
}

.montserrat-L{
    font-family: 'MontserratL'!important;
}

.montserrat{
    font-family: 'Montserrat'!important;
}


/***************Colors**************/
.sumi-blue{
    background-color: rgb(11,49,143);
    color: #FFF;
}


/***************NavBar***************/
.navbar .container{
    padding: 0;
}

.navbar-links > a{
    color: #FFFFFF !important;
    background-color: rgba(0, 0, 0, 0) !important;
    font-family: 'MontserratL' !important;
    padding: 24px 15px 24px 15px!important;
}

.logo > a{
    font-family: 'Montserrat' !important;
    font-size: 1.8rem !important;
    color: #ffffff !important;
    display: block;
    text-decoration: none;
}

.logo{
    margin-top: 17px !important;
}

.logo-sym{
    height: 45px;
    width: 45px;
    display: block;
    float: left;
    margin-right: 7px;
    margin-top: -2px;
}

/****************Login***************/
.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -30%;
    width: 60%;
    height: 200px;
}
.right-border {
  border-right: 1px solid #FFF;
}

.login-input{
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    font-family: 'MontserratL';
}

.login-button{
    font-family: 'MontserratL';
}

.login-input ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #c1c1c1;
}
.login-input :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #c1c1c1;
   opacity:  1;
}
.login-input ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #c1c1c1;
   opacity:  1;
}
.login-input :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #c1c1c1;
}

/**************Content***************/
.main-content{
    margin-top: 100px;
    font-family: 'MontserratL';
}

h1{
    margin-top: 0 !important;
}

.searchbar{
    margin-top: 6px;
}

.addEmployeeRow{
    margin-bottom: 5px;
}

.searchDiv{
    margin-bottom: 20px;
}

.idColumn{
    width: 10%;
}

.nameColumn{
    width: 20%;
}

.plColumn{
    width: 20%;
}

.slColumn{
    width: 20%;
}

.comColumn{
    width: 15%;
}

.optColumn{
    width: 15%;
}

#addEmpForm, #addTimeForm{
    margin-bottom: 15px;
    display: none;
}

.hidden{
    display: none;
}

.blue-2{
    background-color: rgb(0, 117, 194);
}

#addEmpFormContainer, #addMealFormContainer{
    padding-top: 10px;
    padding-bottom: 15px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: rgb(11,49,143);
    color: #FFF;
    font-family: 'MontserratL';
    z-index: 100000000000;
    width: 100%;
}
.preview{
    padding-top: 45px;
    padding-bottom: 46px;
}
.input-group-addon
{
    background-color:#FFF;
}
.input-group .input-group-addon + .form-control
{
    border-left:none;
}
.dateColumn{
    width: 15%;
}
.priceColumn{
    width: 15%;
}
.userColumn{
    width: 30%;
}
.reasonColumn{
    width: 40%;
}
.checkbox{
    margin-top: 5px;
    margin-left: 15px;
}
.editForm{
    display: inline-block;
    width: auto;
}