@font-face{
    font-family: 'Rubik';
    src: url('../font/rubik.otf');
}
@font-face{
    font-family: 'MontserratSB';
    src: url('../font/Montserrat-SemiBold.otf');
}
@font-face{
    font-family: 'MontserratL';
    src: url('../font/Montserrat-Light.otf');
}
@font-face{
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.otf');
}
@font-face{
    font-family: 'HelveticaNeueLT';
    src: url('../font/Helvetica.ttf');
}

.rubik{
    font-family: 'Rubik'!important;
}

.big{
    font-size: 4rem;
}

.logo{
    font-family: 'Rubik' !important;
    margin-right: 2rem;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 4rem !important;
}



.navbar{
    margin-bottom: 0;
}

.dropdown-toggle{
    padding-bottom: 0;
    padding-top: 0;
}

.navbar2{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 768px){
    .navbar-nav > li > a{
        vertical-align: middle;
    }
    
    .navbar2 > li > a{
        vertical-align: middle;
        line-height: 1rem;
        text-align: center;
    }
    
    .navbar-default{
        min-height: 0;
    }
}

body {
    padding-top: 110px;
    background: rgb(255, 255, 255);
}

.purple-text{
    color: #2c0f5c;
}

.purple{
    background-color: #290c58;
    color: #FFF;
}

.sumi-blue{
    background-color: rgb(11,49,143);
    color: #FFF;
}

@media (min-width: 768px) {
    #separador{
        height: 2.5rem;
    }   
}
#separador2{
    height: 2.5rem;
}

@media (min-width: 768px) {
    .space{
        height: 10vh;
    }
}

@media (max-width: 768px) {
    .space{
        height: 0;
    }
}

.sectionTitle{
    padding-bottom: 15px;
}

.sectionTitleText{
    margin-left: 20px;
    margin-right: 20px;
}

.newTitle{
    margin-top: 10px;
}
.newText{
    margin-bottom: 15px;
}

.glyphicon{
    top: 10px;
}

.footer {
    bottom: 0;
    position: static;
    width: 100%;
    text-align: center;
    background-color: rgb(11,49,143);
    color: #FFF;
    font-family: 'Montserrat';
    z-index: 100000000000;
}


@media (min-width: 768px) {
    .footer{
        height: 2rem;
    }
}
@media (max-width: 768px) {
    .footer{
        height: 2rem;
        font-size: 80%;
    }
}

#content{
    padding: 2rem;
    padding-left: 3rem;
    margin: 1rem;
    margin-left: 2.5rem;
    margin-top: 2rem;
    width: 96.5%;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: 5px;
    height: 74vh;
}
#content h2{
    font-size: 2.5rem;
    padding-left: 1vw;
    padding-right: 3vw;
}
#content h4{
    padding-left: 2vw;
    padding-right: 3vw;
    font-size: 3.5vh;
}
#content p{
    font-family: 'MontserratL';
    text-align: justify;
    padding-left: 2vw;
    padding-right: 3vw;
    font-size: 2vw;
    padding-bottom: 0.7vw;
}
#content ul{
    font-family: 'MontserratL';
    text-align: justify;
    padding-left: 8vw;
    padding-right: 3vw;
    font-size: 2vw;
    padding-bottom: 0.7vw;
    list-style: square;
}
#content input{
    border: 3px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    display: block;
    font-family: 'MontserratL';
    margin: 1vh;
    margin-left: 2vw;
    font-size: 3.5vh;
    border-radius: 5px;
    width: 95%;
    padding: 0.5vw;
    color: rgb(0, 0, 0);
}
#content textarea{
    border: 3px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    display: block;
    font-family: 'MontserratL';
    margin: 1vh;
    margin-left: 2vw;
    font-size: 3.5vh;
    border-radius: 5px;
    width: 95%;
    height: 19vh;
    padding: 0.5vw;
    resize: none;
    color: rgb(0, 0, 0);
}


.link a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

/*Clases*/
#indexMain{
    position: relative;
    top: 45vh;
    height: 4.5rem;
    width: 100%;  
}
#indexTitle{ 
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    height: inherit;
    -webkit-transition: background 1s color 1s; /* For Safari 3.1 to 6.0 */
    transition: background 1s color 1s;
}
.rubik{
    font-family: 'Rubik' !important;
}

.link{
    position: relative;
    margin-left: 1.5vw;
    padding-bottom: 3.4vh;
    margin-right: 1.5vw ;
    margin-top: 15rem;
    cursor: pointer;
    background: rgba(0,0,0,0);
    font-family: 'Montserrat';
    font-size: 2rem;
}
#otherMain{
    position: fixed;
    top: 85vh; !important;
    height: 4.5rem;
    width: 100%;     
}

.center{
    text-align: center;
}
.avatar{
    width: 12rem;
    padding: 0;
    margin: 0;
}
.avatarText{
    padding: 0;
    display: block;
    text-align: center;
    margin: 0;
    margin-top: 2vh;
    font-size: 1.5rem;
    font-family: 'Montserrat';
}
.game{
    width: 12rem;
    padding: 0;
    margin: 0;
}
#news{
    overflow-y: auto;
    width: 100%;
    height: 25rem;
}
#news h3{
    padding: 0.5rem;
    font-size: 1.7rem;
    margin: 0;
    font-family: 'Rubik';
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
#news p{
    padding: 0.5rem;
    font-size: 1.7rem;
    margin: 0;
    font-family: 'Montserrat';
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
.bg{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
    transition: opacity 1s;
}
.activeBG{
    opacity: 1;
    z-index: -1
}
.inactiveBG{
    z-index: -2;
    opacity: 0;
}
@media (min-width: 768px) {
    .contenido{
        height: calc(90vh - 4.5rem);
    }
}
@media (max-width: 768px) {
    .contenido{
        height: calc(90vh - 4.0rem);
    }
}

.gray-text{
    color: #1a1a1a !important;
}
.white-text{
    color: white !important;
}
.white{
    background: rgb(255,255,255);
    color: black;
}
.black{
    background: rgb(0,0,0);
    color: white;
}
.dark-gray{
    background: #1a1a1a;
    color: white;
}
.cyan{
    background: rgb(0, 118, 255);
    color: white;
    -webkit-transition: background 1s color 1s; /* For Safari 3.1 to 6.0 */
    transition: background 1s color 1s;
}
.yellow{
    background: rgb(255, 206, 0);
    color: white;
    -webkit-transition: background 1s color 1s; /* For Safari 3.1 to 6.0 */
    transition: background 1s color 1s;
}
.pink{
    background: rgb(255, 1, 128);
    color: white;
    -webkit-transition: background 1s color 1s; /* For Safari 3.1 to 6.0 */
    transition: background 1s color 1s;
}
.green{
    background: rgb(6, 157, 0);
    color: white;
    -webkit-transition: background 1s color 1s; /* For Safari 3.1 to 6.0 */
    transition: background 1s color 1s;
}
.red{
    background: rgb(219, 0, 0);
    color: white;
    -webkit-transition: background 1s color 1s; /* For Safari 3.1 to 6.0 */
    transition: background 1s color 1s;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

@media (min-width: 768px) {
    /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}


/*SNACKBAR */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 110px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 110px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 110px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 110px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 110px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#searchBarForm{
    width: 400px;
    padding-top: 5px;
    margin-left: 50px;
    vertical-align: middle;
}
#searchBar{
    width: 320px;
    height: 35px;
}
#searchIcon{
    font-size: 2.5rem;
    padding-left: 10px;
    top: 5px !important;
}
.results{
    margin-top: 20px;
}
.card-block{
    padding-top: 0;
}
.card-btn{
    margin-left: 0 !important;
}
.card-btn:visited{
    color:#FFF;
}
.price{
    margin-top: 0;
    font-size: 45px;
    font-family: 'Rubik';
}
#related{
    margin-top: 20px;
    margin-bottom: 5vh;
}
.sticky-footer{
    position: absolute;
    bottom: 0;
}
.sky-blue{
    color: #FFF;
    background-color: #3498db;
}
#quantity{
    line-height: 45px;
    vertical-align: middle;
}
#quantityH4{
    margin: 0;
}
.cartPic{
    max-width:100%;
    max-height:100%;
}
.cartTitle{
    margin-top: 5px;
}
.buySumtin{
    padding-bottom: 20px;
    margin-top: 20px;
}
.cart-sidebar{
    margin-left: 15px;
    width: 30%;
}
.h-divider{
    margin-top:15px;
    margin-bottom: 10px;
    height:1px;
    width:100%;
    border-top:1px solid #969696;
}
.col-payment{
    width: 49%;
    margin-left: 10px;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.dark-pink{
    color: #FFF;
    background-color: #27396a;
}
.row-registry{
    margin-bottom: 20px;
}

.text-link{
  color: #2a407c !important;
  text-decoration: none !important;
}
.text-link:hover,
.text-link:focus {
  color: #2a407c !important;
  text-decoration: underline !important;
}
.text-link:focus {
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px !important;
}
.addon-blue{
    color: #ffffff;
    background-color: #2a407c;
    border-color: #2a407c;
}
.myhome-sidebar{
    margin-right: 15px;
    width: 30%;
}
.same-height-col{
    display: flex;
    flex-direction: column;
}
.same-height-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}

.navbar-links{
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    line-height: inherit;
}